<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.lihao.entity.SysUser" alias="SysUser"/>
        <typeAlias type="com.lihao.entity.SysAuth" alias="SysAuth"/>
        <typeAlias type="com.lihao.entity.SysRole" alias="SysRole"/>
        <typeAlias type="com.lihao.entity.InnerMail" alias="InnerMail"/>
        <typeAlias type="com.lihao.entity.CareerJob" alias="CareerJob"/>
        <typeAlias type="com.lihao.entity.CareerCompany" alias="CareerCompany"/>
        <typeAlias type="com.lihao.entity.EnterpriseNotice" alias="EnterpriseNotice"/>
        <typeAlias type="com.lihao.entity.CareerNews" alias="CareerNews"/>
        <typeAlias type="com.lihao.entity.NewsComment" alias="NewsComment"/>
        <typeAlias type="com.lihao.entity.CareerMessage" alias="CareerMessage"/>
        <typeAlias type="com.lihao.entity.CareerResume" alias="CareerResume"/>
    </typeAliases>
</configuration>